@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-color: #040000;
    --text-color: #ffae00;
    --accent-red: #e8411e;
    --accent-blue: #0c64f6;
    --accent-lblue: #6ba9f2;
    --white-color: #f3eeec;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body, html{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primary-color);
    color: var(--accent-red);
}



